body {
    font-family: "Inconsolata", serif;
    text-align: center;
    color: white;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url('https://images.unsplash.com/photo-1505699261378-c372af38134c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZGVza3RvcCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.profile-card {
    text-align: center;
}

h1 {
    font-size: 64px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #f1f1f1;
    margin-bottom: 20px;
}


h2 {
    font-size: 24px;
    font-weight: normal;
    color: #f1f1f1;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #313131;
    margin-bottom: 20px;
}



.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;

}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
    position: relative;

}


.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 200px;

    height: 200px;

    border-radius: 10px;
    object-fit: cover;

}


.card h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.card p {
    color: gray;
}

.navbar {
    padding: 15px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

section {
    padding: 50px 0;
}


@media (max-width: 600px) {
    h1 {
        font-size: 42px;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}